<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>主页面</h3>
    <hr>
    当前登录的用户：<span th:text="${session.user}"></span><br><br>
    <!--测试授权-->
    <a shiro:hasRole="admin" href="/myController/userLogin2?account=11111&pwd=Admin@123">测试授权-角色认证</a><br><br>
    <a shiro:hasPermission="user:delete" href="/myController/userDemo">测试授权-权限认证</a>
    <br><br>
    <a href="/logout">退出</a>
</body>
</html>